__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/
bin/
lib/
include/
share/

.vscode/
*.code-workspace

dist/
build/
*.egg-info/

htmlcov/
.tox/
.coverage
.pytest_cache/

.env

exps/
slurm/
slurm*.err
slurm*.out
mosaic-workspace/
stride-output.log

debug_scripts/
test_scripts/
Paper_plots.ipynb
guidance_comparison.png
/models/
*brains.txt
.ipynb_checkpoints/

!paper-results/Paper_plots.ipynb
paper-results/results/**/*