# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
ENV/
bin/
lib/
include/
share/

# VS Code specific
.vscode/
*.code-workspace

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.pytest_cache/

# Local environment variables
.env

# Experiments
exps/
slurm/
slurm*.err
slurm*.out
